@model FripShop.DTO.DTOLoginUser
@{
    ViewBag.Title = "Index";
}
<div>
    Informations du compte :
    UserName : @Model.Name
    EmailName : @Model.Email
    Address : @Model.Address
    Gender : @Model.Gender
</div>
