@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="RegisterPage">Register</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LoginPage">Login</a>
    </div>
    @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Logout" id="Submit" class="btn btn-default" />
            </div>
        </div>
    }

    </div>
<div>

</div>