@model IEnumerable<FripShop.Dbo.DboArticle>
@{
    ViewBag.Title = "Articles";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        @foreach (var article in Model)
            {
                <div>
                    @article.Name <br />
                    @article.Price <br />
                </div>
            }
    </div>
</div>